my2.css 

.gitignore
Mirette Fayez khlil      iti 3mnth qena php
gitignore file is a text file that tells Git which files or folders to ignore in a project. A local . gitignore file is usually placed in the root directory of a project. we can also create a global . ... Each new line should list an additional file or folder that you want Git to ignore.
